extends ../layout/main

block variables
  - var title = 'Авто объявления';
  - var description = 'Автомобили объявления';
  - var pageClass = 'auto-page';

block content
  .container
    .column-content
      p content
    .column-sidbar
      p sidebar

